extends layout

block content
	h1 Hello Boulder!

	p enter comma separated string 
	input(type="text", placeholder="placeholder")
	input(type="submit", placeholder="placeholder")


//- Here is a challenge!

//- Create a new express app
//- Allow the user to enter a string into an input box on the homepage
//- The string will be a comma-separated list of words
//- When the user submits the form, it should take them to a standalone route (something like ‘/results’)
//- The standalone page doesn’t need a view, so you can use res.send({})
//- The page should show the list of all the words the user entered in an array
//- each item in the array should be an object that has:
//- a word property that contains the original word
//- a translation property that contains the word’s value translated into japanese

//- You’ll basically be doing a small part of the translation piece via BeGlobal without the user being able to pick their to and from languages.

//- You will need to consider using map, split, and trim in a few different places too.


//- You got this! Go for it! Don’t let the man get you down! YOU ARE THE CODER.